#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

1 VERSIONINFO
FILEVERSION 1, 3, 1, 0
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP {
	BLOCK "StringFileInfo" {
		BLOCK "040904E4" {
			VALUE "FileDescription", "SQLite GUI\000"
			VALUE "FileVersion", "1.3.1\000"
			VALUE "ProductName", "sqlite-gui\000"
			VALUE "ProductVersion", "1.3.1\000"
			VALUE "LegalCopyright", "Copyright \251 Little Brother 2020\000"
			VALUE "OriginalFilename", "sqlite-gui.exe\000"
		}
	}
	BLOCK "VarFileInfo" {
		VALUE "Translation", -1, -1
	}
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADDEDIT DIALOGEX 50, 50, 500, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Edit table/view; Add/edit index/trigger"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "",IDC_DLG_EDITOR, "RICHEDIT50W", WS_VISIBLE | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL | WS_CHILD, 1, 1, 498, 273, WS_EX_STATICEDGE
	PUSHBUTTON "Example", IDC_DLG_EXAMPLE, 5, 282, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 445, 282, 50, 14, WS_TABSTOP
	PUSHBUTTON "Execute", IDC_DLG_OK, 390, 282, 50, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ROW DIALOGEX 50,50,300,300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Add/Edit/View row"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "ListViewHandle", IDC_DLG_USERDATA, 0, 0, 0, 0, WS_CHILD
	PUSHBUTTON "OK", IDC_DLG_OK, 0, 0, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 0, 0, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADD_TABLE DIALOGEX 50,50,230,200
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Add table"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	EDITTEXT IDC_DLG_TABLENAME, 40, 5, 153, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD
	PUSHBUTTON ">>",IDC_DLG_MORE, 200, 5, 23, 14, WS_TABSTOP
	AUTOCHECKBOX "Without rowid", IDC_DLG_ISWITHOUT_ROWID, 290, 5, 100, 16, BS_NOTIFY | NOT WS_VISIBLE

	CONTROL "", IDC_DLG_COLUMNS, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | WS_CHILD | LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | LVS_SINGLESEL, 5,25, 220, 120, WS_EX_STATICEDGE

	PUSHBUTTON "Add", IDC_DLG_ROW_ADD, 5, 150, 30, 14, WS_TABSTOP
	PUSHBUTTON "Delete", IDC_DLG_ROW_DEL, 40, 150, 30, 14, WS_TABSTOP
	PUSHBUTTON "Up", IDC_DLG_ROW_UP, 160, 150, 30, 14, WS_TABSTOP
	PUSHBUTTON "Down",IDC_DLG_ROW_DOWN, 195, 150, 30, 14, WS_TABSTOP

	PUSHBUTTON "OK", IDC_DLG_OK, 100, 181, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 165, 181, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADD_COLUMN DIALOGEX 50, 50, 135, 150
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Add column"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	EDITTEXT IDC_DLG_COLNAME, 40, 5, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD

	LTEXT "Type", IDC_DLG_LABEL, 5, 27, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_COLTYPE, 40, 25, 90, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT "Default", IDC_DLG_LABEL, 5, 47, 30, 14, SS_LEFT
	EDITTEXT  IDC_DLG_DEFVALUE, 40, 45, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP

	LTEXT "Check", IDC_DLG_LABEL, 5, 67, 30, 14, SS_LEFT
	EDITTEXT  IDC_DLG_CHECK, 40, 65, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP

	LTEXT "Unique", IDC_DLG_LABEL, 5, 87, 30, 14, SS_LEFT
	AUTOCHECKBOX  "", IDC_DLG_ISUNIQUE, 75, 83, 18, 16, BS_NOTIFY | WS_TABSTOP

	LTEXT "Not null", IDC_DLG_LABEL, 5, 107, 30, 14, SS_LEFT
	AUTOCHECKBOX "", IDC_DLG_ISNOTNULL, 75, 103, 18, 16, BS_NOTIFY | WS_TABSTOP

	PUSHBUTTON "OK", IDC_DLG_OK, 5, 130, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel",IDC_DLG_CANCEL, 70, 130, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_EDITDATA DIALOGEX 50, 50, 500, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | DS_MODALFRAME
	CAPTION "View/Edit table data"
	FONT 10, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "", IDC_DLG_ROW_ADD, WC_STATIC, SS_LEFT | SS_BITMAP | SS_CENTERIMAGE | SS_NOTIFY, 0, 0, 10, 10, 0
	CONTROL "", IDC_DLG_ROW_DEL, WC_STATIC, SS_LEFT | SS_BITMAP | SS_CENTERIMAGE | SS_NOTIFY, 11, 0, 10, 10, 0
	EDITTEXT	IDC_DLG_QUERYFILTER, 22, 0, 300, 10, WS_BORDER | WS_TABSTOP, 0
	CONTROL "", IDC_DLG_REFRESH, WC_STATIC, SS_LEFT | SS_BITMAP | SS_CENTERIMAGE | SS_NOTIFY, 300, 0, 10, 10, 0
	CONTROL "", IDC_DLG_QUERYLIST, WC_LISTVIEW, WS_VSCROLL | WS_TABSTOP | LVS_REPORT, 0, 10, 400, 80, WS_EX_STATICEDGE
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_QUERYLIST DIALOGEX 50, 50, 500, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | DS_MODALFRAME
	CAPTION "History and Gists"
	FONT 10, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	EDITTEXT IDC_DLG_QUERYFILTER, 0, 0, 300, 10, WS_BORDER | WS_TABSTOP, 0
	CONTROL "", IDC_DLG_QUERYLIST, WC_LISTVIEW, WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER, 0, 10, 400, 80, WS_EX_STATICEDGE
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_SETTINGS DIALOGEX 50, 50, 200, 230
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Settings"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT		   "Font", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	COMBOBOX		IDC_DLG_FONT_FAMILY, 35, 5, 125, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWN | CBS_HASSTRINGS
	COMBOBOX		IDC_DLG_FONT_SIZE, 165, 5, 30, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	AUTOCHECKBOX	"Autoload extensions", IDC_DLG_AUTOLOAD, 5, 20, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"Open last database on start up", IDC_DLG_RESTORE_DB, 5, 35, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"Restore editor tabs on start up", IDC_DLG_RESTORE_EDITOR, 5, 50, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"Editor highlighter", IDC_DLG_USE_HIGHLIGHT, 5, 65, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"Unsafe renaming (pragma legacy_alter_table = 1)", IDC_DLG_USE_LEGACY, 5, 80, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"App exit by escape", IDC_DLG_EXIT_BY_ESCAPE, 5, 95, 180, 16, BS_NOTIFY
	AUTOCHECKBOX	"Query table/view data in a current tab", IDC_DLG_QUERY_IN_CURR_TAB, 5, 110, 180, 16, BS_NOTIFY

	LTEXT		   "Editor indent", IDC_DLG_LABEL, 5, 129, 50, 14, SS_LEFT
	COMBOBOX		IDC_DLG_INDENT, 55, 126, 65, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT		   "Max rows in result output. Use 0  to unlimited.", IDC_DLG_LABEL, 5, 144, 150, 14, SS_LEFT
	EDITTEXT		IDC_DLG_ROW_LIMIT, 155, 142, 38, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD | ES_CENTER | ES_NUMBER

	LTEXT		   "Execute on database connection", IDC_DLG_LABEL, 5, 159, 150, 14, SS_LEFT
	CONTROL         "", IDC_DLG_STARTUP, WC_EDIT, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD | ES_MULTILINE | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL, 5, 170, 190, 30, 0

	PUSHBUTTON "OK", IDC_DLG_OK, 70, 211, 60, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 135, 211, 60, 14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_FIND DIALOGEX 300, 100, 180, 45
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Find"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	EDITTEXT IDC_DLG_FIND, 5, 5, 170, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD | ES_LEFT

	PUSHBUTTON "OK", IDC_DLG_OK, 70, 25, 50, 14, WS_TABSTOP
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 125, 25, 50, 14, WS_TABSTOP
END


LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_IMPORT_CSV DIALOGEX 50, 50, 182, 160
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Import data from CSV file"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Table name", IDC_DLG_LABEL, 5, 7, 40, 14, SS_LEFT
	EDITTEXT IDC_DLG_TABLENAME, 45, 5, 130, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD

	AUTOCHECKBOX "Column names in first line", IDC_DLG_ISCOLUMNS, 5, 19, 140, 16, BS_NOTIFY
	LTEXT "Column delimiter", IDC_DLG_LABEL, 5, 37, 80, 14, SS_LEFT
	COMBOBOX IDC_DLG_DELIMITER, 60, 36, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
	LTEXT "Encoding", IDC_DLG_LABEL, 5, 52, 80, 14, SS_LEFT
	COMBOBOX IDC_DLG_ENCODING, 60, 49, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
	CONTROL "",	IDC_DLG_PREVIEW, WC_LISTVIEW, LVS_NOSCROLL | WS_TABSTOP | LVS_AUTOARRANGE | LVS_REPORT | LVS_SINGLESEL, 5, 70, 170, 60, WS_EX_STATICEDGE

	PUSHBUTTON "OK", IDC_DLG_OK,50, 141, 60, 14
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 115, 141, 60, 14
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_EXPORT_SQL DIALOGEX 50, 50, 174, 120
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Export structure and data to SQL file"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "", IDC_DLG_OBJECTLIST, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | WS_CHILD | LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS, 5, 5, 165, 70, WS_EX_STATICEDGE

	AUTORADIOBUTTON "Structure and data", IDC_DLG_DATADDL, 5, 85, 80, 10, WS_TABSTOP
	AUTORADIOBUTTON "Data", IDC_DLG_DATAONLY, 85, 85, 30, 10, WS_TABSTOP
	AUTORADIOBUTTON "Structure", IDC_DLG_DDLONLY, 125, 85, 50, 10, WS_TABSTOP

	PUSHBUTTON "OK", IDC_DLG_OK, 65, 102, 50, 14, 0
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 120, 102, 50, 14, 0
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_EXPORT_CSV DIALOGEX 50, 50, 174, 100
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Export data of table/view to CSV file"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	COMBOBOX IDC_DLG_TABLENAME, 5, 5, 165, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT
	AUTOCHECKBOX "Column names in first line", IDC_DLG_ISCOLUMNS, 5, 20, 139, 16, BS_NOTIFY

	LTEXT "Column delimiter", IDC_DLG_LABEL, 5, 40, 80, 14, SS_LEFT
	COMBOBOX IDC_DLG_DELIMITER, 65, 38, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT "New line type", IDC_DLG_LABEL, 5, 57, 60, 14, SS_LEFT
	COMBOBOX IDC_DLG_NEWLINE, 65, 55, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD

	PUSHBUTTON "OK", IDC_DLG_OK, 65, 82, 50, 14, 0
	PUSHBUTTON "Cancel", IDC_DLG_CANCEL, 120, 82, 50, 14, 0
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_GENERATE_DATA DIALOGEX 50, 50, 250, 300
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
	CAPTION "Data generator"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Target", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	COMBOBOX IDC_DLG_TABLENAME, 30, 5, 120, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT
	LTEXT "Row count", IDC_DLG_LABEL, 165, 7, 40, 14, SS_LEFT
	EDITTEXT IDC_DLG_GEN_ROW_COUNT, 205, 5, 40, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD | ES_NUMBER | ES_CENTER | WS_BORDER
	AUTOCHECKBOX "Truncate data before generation", IDC_DLG_GEN_ISTRUNCATE, 5, 20, 140, 16, BS_NOTIFY
	PUSHBUTTON "Edit dictionary", IDC_DLG_GEN_DICTIONARY, 165, 22, 65, 14, 0
	PUSHBUTTON "?", IDC_DLG_GEN_DICTIONARY_HELP, 230, 22, 15, 14, 0

	LTEXT "Column", IDC_DLG_LABEL, 5, 40, 240, 14, SS_LEFT | SS_ETCHEDHORZ

	LTEXT "", IDC_DLG_GEN_COLUMNS, 5, 45, 240, 280, SS_LEFT | WS_TABSTOP

	PUSHBUTTON "Generate rows", IDC_DLG_OK, 5, 282, 100, 14, 0
	PUSHBUTTON "Close", IDC_DLG_CANCEL, 196, 282, 50, 14, 0
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_DATABASE_DIAGRAM DIALOGEX 50, 50, 550, 400
	STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | DS_MODALFRAME | WS_CLIPCHILDREN
	CAPTION "Database diagram"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_DDL DIALOGEX 10, 10, 500, 400
	STYLE WS_OVERLAPPEDWINDOW | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
	CAPTION "DDL"
	FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "",IDC_DLG_EDITOR, "RICHEDIT50W", WS_VISIBLE | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL | WS_CHILD | ES_READONLY, 0, 0, 498, 273, WS_EX_STATICEDGE
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_MAIN MENU
BEGIN
	POPUP "Database"
	BEGIN
		MENUITEM "Open", IDM_OPEN
		MENUITEM "Close", IDM_CLOSE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "No recents", 0, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Attach database", IDM_ATTACH, GRAYED
		MENUITEM "Settings", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "Exit", IDM_EXIT
	END

	POPUP "Query"
	BEGIN
		MENUITEM "Save\tCtrl+S", IDM_SAVE
		MENUITEM "Plan\tAlt+Enter", IDM_PLAN, GRAYED
		MENUITEM "Execute\tCtrl+Enter", IDM_EXECUTE, GRAYED
		MENUITEM "Batch\tCtrl+Alt+Enter", IDM_EXECUTE_BATCH, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&History\tCtrl+H", IDM_HISTORY
		MENUITEM "Saved\tCtrl+G", IDM_GISTS

	END

	POPUP "Tools"
	BEGIN
		MENUITEM "Database diagram", IDM_DATABASE_DIAGRAM, GRAYED
		MENUITEM "Workflow manager", IDM_WORKFLOW_MANAGER, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Execute SQL file", IDM_IMPORT_SQL, GRAYED
		MENUITEM "Import from CSV file", IDM_IMPORT_CSV, GRAYED
		MENUITEM "Export to SQL file", IDM_EXPORT_SQL, GRAYED
		MENUITEM "Export as CSV file", IDM_EXPORT_CSV, GRAYED
		MENUITEM "Data generator", IDM_GENERATE_DATA, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Integrity check", IDM_CHECK_INTEGRITY, GRAYED
		MENUITEM "Vacuum database", IDM_VACUUM, GRAYED
	END

	POPUP "?"
	BEGIN
		MENUITEM "About", IDM_ABOUT
		MENUITEM "Homepage", IDM_HOMEPAGE
		MENUITEM "Shortcuts", IDM_HOTKEYS
		MENUITEM "Extensions", IDM_EXTENSIONS
		MENUITEM "Tips", IDM_TIPS
		MENUITEM SEPARATOR
		MENUITEM "SQLite Home Page", IDM_SQLITE_HOMEPAGE
		MENUITEM "SQLite Tutorial", IDM_TUTORIAL1
		MENUITEM "Tutorials Point", IDM_TUTORIAL2
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TREE MENU
BEGIN
	POPUP "Tree"
	BEGIN
		MENUITEM "Add", IDM_ADD
		MENUITEM "Refresh", IDM_REFRESH
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TABLE MENU
BEGIN
	POPUP "Table"
	BEGIN
		MENUITEM "Query data", IDM_QUERY_DATA
		MENUITEM "Edit data", IDM_EDIT_DATA
		MENUITEM SEPARATOR
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Delete", IDM_DROP
		MENUITEM "Clear", IDM_ERASE_DATA
		MENUITEM SEPARATOR
		MENUITEM "Add column", IDM_ADD_COLUMN
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_COLUMN MENU
BEGIN
	POPUP "Column"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_VIEW MENU
BEGIN
	POPUP "View"
	BEGIN
		MENUITEM "Query data", IDM_QUERY_DATA
		MENUITEM "View data", IDM_EDIT_DATA
		MENUITEM SEPARATOR
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_INDEX MENU
BEGIN
	POPUP "Index"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TRIGGER MENU
BEGIN
	POPUP "Trigger"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_EDITOR MENU DISCARDABLE
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Cut", IDM_EDITOR_CUT
		MENUITEM "Copy", IDM_EDITOR_COPY
		MENUITEM "Paste", IDM_EDITOR_PASTE
		MENUITEM "Delete", IDM_EDITOR_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Find", IDM_EDITOR_FIND
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_RESULT MENU
BEGIN
	POPUP "Result"
	BEGIN
		MENUITEM "Copy cell to clipboard", IDM_RESULT_COPY_CELL
		MENUITEM "Copy row to clipboard", IDM_RESULT_COPY_ROW
		MENUITEM SEPARATOR
		MENUITEM "Export to csv", IDM_RESULT_EXPORT
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_EDIT_DATA MENU
BEGIN
	POPUP "Edit data"
	BEGIN
		MENUITEM "Edit\tEnter", IDM_ROW_EDIT
		MENUITEM "Delete\tDel", IDM_ROW_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Copy cell to clipboard", IDM_RESULT_COPY_CELL
		MENUITEM "Copy row to clipboard", IDM_RESULT_COPY_ROW
		MENUITEM SEPARATOR
		MENUITEM "Export to csv", IDM_RESULT_EXPORT
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_BLOB MENU
BEGIN
	POPUP "Blob"
	BEGIN
		MENUITEM "Set to NULL", IDM_BLOB_NULL
		MENUITEM "Set from file", IDM_BLOB_IMPORT
		MENUITEM "Save to file", IDM_BLOB_EXPORT
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_DIAGRAM MENU
BEGIN
	POPUP "Diagram"
	BEGIN
		MENUITEM "View data", IDM_EDIT_DATA
		MENUITEM "View DDL", IDM_DDL
	END
END

IDA_ACCEL ACCELERATORS
BEGIN
	VK_ESCAPE, IDM_ESCAPE, VIRTKEY
	"X", IDM_EXIT, ALT, VIRTKEY
	"O", IDM_OPEN, CONTROL, VIRTKEY
	"Q", IDM_CLOSE, CONTROL, VIRTKEY
	VK_F5, IDM_REFRESH, VIRTKEY
	VK_RETURN, IDM_EXECUTE, CONTROL, VIRTKEY
	VK_F9, IDM_EXECUTE, VIRTKEY
	VK_RETURN, IDM_EXECUTE_BATCH, CONTROL ALT, VIRTKEY
	VK_F12, IDM_EXECUTE_BATCH, VIRTKEY
	VK_RETURN, IDM_PLAN, ALT, VIRTKEY
	VK_F8, IDM_PLAN, VIRTKEY
	"S", IDM_SAVE, CONTROL, VIRTKEY
	"H", IDM_HISTORY, CONTROL, VIRTKEY
	"G", IDM_GISTS, CONTROL, VIRTKEY
	VK_TAB, IDM_PROCESS_TAB, VIRTKEY
	VK_TAB, IDM_PROCESS_TAB, SHIFT, VIRTKEY

	VK_TAB, IDM_CHANGE_FOCUS, CONTROL SHIFT, VIRTKEY

	VK_TAB, IDM_NEXT_RESULT, CONTROL, VIRTKEY
	"N", IDM_OPEN_EDITOR, CONTROL, VIRTKEY
	VK_ESCAPE, IDM_CLOSE_EDITOR, CONTROL ALT, VIRTKEY
	VK_LEFT, IDM_PREV_EDITOR, CONTROL ALT, VIRTKEY
	VK_RIGHT, IDM_NEXT_EDITOR, CONTROL ALT, VIRTKEY
END

STRINGTABLE
BEGIN
	IDS_CREATE_TABLE  ""
	IDS_CREATE_VIEW "create view myview\nas\nselect * from mytable"
	IDS_CREATE_INDEX "-- create [unique] index [if not exists] [schema.]<index-name>\n-- on <table-name>\n-- (<indexed-column1> [asc|desc], <indexed-column2> ...)\n-- [where conditions] <- partial index\ncreate index idx_mytable on mytable (\n  ""colA"" desc,\n  ""colB"" asc\n)"
	IDS_CREATE_TRIGGER "-- create [TEMP] trigger [if not exists] [schema.]<trigger-name>\n-- {before|after|instead of} {delete|insert|update|update of column1, column2, ...} on <table-name>\n-- when <expression>\n-- begin\n-- <some-statements: use NEW. and OLD. to refs>;\n-- end.\ncreate trigger trg_mytable_insert\nafter insert on mytable\nwhen id > 10\n\nbegin\n  insert into mytable2\n  select NEW.id, NEW.name;\nend;"
	IDS_ABOUT "Sqlite-gui is a visual tool for SQLite database.\nVisit our homepage to get the source code and latest binaries.\n\nLittle Brother (c) 2020\nlb.im@ya.ru"
	IDS_HOTKEYS "Global\n" \
		"Esc - App exit\n" \
		"F5 - Refresh navigation tree\n" \
		"Tab + Ctrl + Shift - Switch between the tree, the editor and the result panel\n" \
		"Ctrl + O - Open database\n" \
		"Ctrl + Q - Close database\n" \
		"Ctrl + N - New editor\n" \
		"Ctrl + Alt + Escape - Close current editor\n" \
		"Ctrl + Alt + Right/Left - Toggle editor's tab\n\n" \
		"Editor\n" \
		"F8/Alt + Enter - Show query plan\n" \
		"F9/Ctrl + Enter - Execute query\n" \
		"F12/Ctrl + Alt + Enter - Execute as batch (synchronous is off)\n" \
		"Tab - Add indents in Editor.\n" \
		"Tab + Shift - Remove indents in Editor.\n" \
		"Ctrl + ? - Get the table columns desc\n" \
		"Ctrl + Click - Edit the table data\n" \
		"Ctrl + Tab - Toggle to a next result\n" \
		"Ctrl + 1, Ctrl + 2, ... - Sort the result (should be in focus) by column 1, 2, ...\n" \
		"Alt + Click - Show data if the column references to another table by foreign key e.g. execute ""select * from orders"" and click by ""8"" in ""customer_id"" column. You'll see details from customers table for id = 8. \n\n" \
		"Etc\n" \
		"Ctrl + Enter - Add row in ""Add row"" dialog\n" \
		"Ctrl + Enter - Move to next row in ""View row"" dialog\n" \
		"Ctrl + Click by cell - Edit the value as a multiline text in ""Data Edit"" dialog\n" \
		"Ctrl + Enter - Add new line to text in the multiline mode"
	IDS_TIPS "* To create a new database, go to ""Database"" > ""Open"" and enter the\n   desired name.\n\n" \
		"* Only the selected part of the query will be executed.\n\n"
		"* During a transaction the special indicator is displayed inside the status bar.\n\n" \
		"* By default app uses auto-transaction. All changes are applied immediately.\n\n" \
		"* To edit data in an attached database or temp schema, type in Editor\n  <db alias>.<tablename>, e.g. preferences.history\n   and click with holding Ctrl by it.\n\n"
		"* SQLite supports a limited subset of ALTER. So there is not GUI allows\n   remove/reorder column to an existing table or something like this.\n\n" \
		"* Do you need a newer version of sqlite?\n  Just replace sqlite3.dll! 32-bit version is required.\n\n" \
		"* Need details by Alt + Click by a result cell? Edit preferences.refs data.\n   Some records were builded by foreign keys. You can edit them also.\n\n" \
		"* Data generator requires series and rownum extensions.\n\n" \
		"Cons\n* Only utf-8 is supported\n* NULL is displayed as an empty string\n* An empty string is set to NULL when data is edit\n* Data diagram isn't accurate with building references in views/triggers\n"
	IDS_EXTENSIONS "Json1\n" \
		"Various SQL functions and table-valued functions for processing JSON.\n\n" \
		"Math\n" \
		"This library provides common mathematical and string functions: acos, asin, atan, atn2, atan2, acosh, asinh, atanh, difference, degrees, radians, cos, sin, tan, cot, cosh, sinh, tanh, coth, exp, log, log10, power, sign, sqrt, square, ceil, floor, pi, replicate, charindex, leftstr, rightstr, ltrim, rtrim, trim, replace, reverse, proper, padl, padr, padc, strfilter, stdev, variance, mode, median, lower_quartile, upper_quartile.\n\n" \
		"Series\n" \
		"Adds the generate_series(start, stop, step) table-function\n" \
		"Example: select * from generate_series(0, 100, 5);\n\n" \
		"Uuid\n"\
		"This extension implements uuid(), uuid_str(X) and uuid_blob(X) functions that handling RFC-4122 UUIDs\n\n" \
		"Regexp\n"\
		"Implements regexp(regexp, stringToMatch) function and ""B regexp A"" operator. This is a non-POSIX regexp.\n\n" \
		"Ora\n"\
		"Adds rownum(start), concat(str1, str2, ...) and decode(expr, key1, value1, key2, value2, ..., defValue) functions.\n\n" \
		"Icu (third party)\n"\
		"Adds partial support for national symbols e.g. ""select lower('Û');"" returns ""û""\n\n\n\n" \

		"SQLite Workflow Manager adds auxiliary extensions: assert, exec, odbc and pivot. Check tool's Wiki to get info about them.\n\n"

	IDS_GEN_DICTIONARY "You can define own types to generate one-of-set values by add rows to ""preferences.generators"" table. "\
		"The type is defined by ""key"" column.\nSet a ""value""-column as null if sometimes generated value should be null."

	IDS_WELCOME "-- Welcome!\n" \
		"-- Thanks for choosing sqlite-gui. I hope you'll like it.\n" \
		"-- bookstore.sqlite is a demo database for beginners.\n" \
		"-- Push ""Execute"" to get all rows from ""books"" table\n" \
		"select * from books;"

	IDS_TOOLTIP_OPEN "Open database"
	IDS_TOOLTIP_CLOSE "Close database"
	IDS_TOOLTIP_SAVE "Save current query"
	IDS_TOOLTIP_PLAN "View execution plan of query"
	IDS_TOOLTIP_EXECUTE "Execute query"
	IDS_TOOLTIP_INTERRUPT "Interrupt query"
END

IDI_LOGO ICON "resources/logo.ico"
IDB_TOOLBAR BITMAP "resources/toolbar.bmp"
IDB_BTN_ADD BITMAP "resources/btn_add.bmp"
IDB_BTN_DELETE BITMAP "resources/btn_delete.bmp"
IDB_BTN_REFRESH BITMAP "resources/btn_refresh.bmp"
IDB_DIAGRAM_TOOLBAR BITMAP "resources/toolbar_diagram.bmp"
