#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

1 VERSIONINFO
FILEVERSION 0, 9, 1, 0
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP {
	BLOCK "StringFileInfo" {
		BLOCK "040904E4" {
			VALUE "FileDescription", "SQLite GUI\000"
			VALUE "FileVersion", "0.9.1\000"
			VALUE "ProductName", "sqlite-gui\000"
			VALUE "ProductVersion", "0.9.1\000"
			VALUE "LegalCopyright", "Copyright \251 Little Brother 2020\000"
			VALUE "OriginalFilename", "sqlite-gui.exe\000"
		}
	}
	BLOCK "VarFileInfo" {
		VALUE "Translation", -1, -1
	}
}

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADDEDIT DIALOGEX 50,50,500,300
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Add/edit table/view/index/trigger"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "",IDC_DLG_EDITOR, "RICHEDIT50W", WS_VISIBLE | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | ES_NOHIDESEL | WS_CHILD,1,1,498,273,WS_EX_STATICEDGE
	PUSHBUTTON "Example",IDC_DLG_EXAMPLE,5,282,50,14, WS_TABSTOP | NOT WS_VISIBLE
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,445,282,50,14, WS_TABSTOP
    PUSHBUTTON "Execute",IDC_DLG_OK,390,282,50,14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ROW DIALOGEX 50,50,300,300
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Add/Edit/View row"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "ListViewHandle", IDC_DLG_USERDATA, 0,0,0,0, WS_CHILD
	PUSHBUTTON "OK",IDC_DLG_OK,0,0,60,14, WS_TABSTOP
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,0,0,60,14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADD_TABLE DIALOGEX 50,50,230,200
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Add table"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	EDITTEXT IDC_DLG_TABLENAME, 40, 5, 153, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD
	PUSHBUTTON ">>",IDC_DLG_MORE,200,5,23,14, WS_TABSTOP
	AUTOCHECKBOX "Without rowid", IDC_DLG_ISWITHOUT_ROWID, 290, 5, 100, 16, BS_NOTIFY | NOT WS_VISIBLE

	CONTROL "", IDC_DLG_COLUMNS, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | WS_CHILD | LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | LVS_SINGLESEL,5,25, 220, 120, WS_EX_STATICEDGE

	PUSHBUTTON "Add",IDC_DLG_ROW_ADD,5,150,30,14, WS_TABSTOP
	PUSHBUTTON "Delete",IDC_DLG_ROW_DEL,40,150,30,14, WS_TABSTOP
	PUSHBUTTON "Up",IDC_DLG_ROW_UP,160,150,30,14, WS_TABSTOP
	PUSHBUTTON "Down",IDC_DLG_ROW_DOWN,195,150,30,14, WS_TABSTOP

	PUSHBUTTON "OK",IDC_DLG_OK,100,181,60,14, WS_TABSTOP
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,165,181,60,14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_ADD_COLUMN DIALOGEX 50,50,135,150
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Add column"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "Name", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
	EDITTEXT IDC_DLG_COLNAME, 40, 5, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD

	LTEXT "Type", IDC_DLG_LABEL, 5, 27, 30, 14, SS_LEFT
	COMBOBOX  IDC_DLG_COLTYPE, 40, 25, 90, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	LTEXT "Default", IDC_DLG_LABEL, 5, 47, 30, 14, SS_LEFT
	EDITTEXT  IDC_DLG_DEFVALUE, 40, 45, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP

	LTEXT "Check", IDC_DLG_LABEL, 5, 67, 30, 14, SS_LEFT
	EDITTEXT  IDC_DLG_CHECK, 40, 65, 90, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP

	LTEXT "Unique", IDC_DLG_LABEL, 5, 87, 30, 14, SS_LEFT
	AUTOCHECKBOX  "", IDC_DLG_ISUNIQUE, 75, 83, 18, 16, BS_NOTIFY

	LTEXT "Not null", IDC_DLG_LABEL, 5, 107, 30, 14, SS_LEFT
	AUTOCHECKBOX "", IDC_DLG_ISNOTNULL, 75, 103, 18, 16, BS_NOTIFY

	PUSHBUTTON "OK",IDC_DLG_OK,5,130,60,14, WS_TABSTOP
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,70,130,60,14, WS_TABSTOP
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_QUERYLIST DIALOGEX 50,50,500,300
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_SIZEBOX | DS_MODALFRAME
 CAPTION "History/Gists/Examples and EditData"
 FONT 10, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	PUSHBUTTON  "+", IDC_DLG_QUERYADD,0,0,18,10, WS_CHILD | BS_FLAT | NOT WS_VISIBLE | WS_TABSTOP
	EDITTEXT    IDC_DLG_QUERYFILTER,0,0,300,10,WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD, 0
	CONTROL "", IDC_DLG_QUERYLIST, WC_LISTVIEW, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | WS_CHILD | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS,0, 10, 400, 80, WS_EX_STATICEDGE
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_SETTINGS DIALOGEX 50,50,200,130
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Settings"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT           "Font", IDC_DLG_LABEL, 5, 7, 30, 14, SS_LEFT
    COMBOBOX        IDC_DLG_FONT_FAMILY, 35, 5, 125, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    COMBOBOX        IDC_DLG_FONT_SIZE, 165, 5, 30, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

	AUTOCHECKBOX    "Autoload extensions", IDC_DLG_AUTOLOAD, 5, 20, 180, 16, BS_NOTIFY
	AUTOCHECKBOX    "Open last database on start up", IDC_DLG_RESTORE_DB, 5, 35, 180, 16, BS_NOTIFY
	AUTOCHECKBOX    "Restore editor's text on start up", IDC_DLG_RESTORE_EDITOR, 5, 50, 180, 16, BS_NOTIFY
	AUTOCHECKBOX    "Editor highlighter (UNDO is broken)", IDC_DLG_USE_HIGHLIGHT, 5, 65, 180, 16, BS_NOTIFY
	AUTOCHECKBOX    "Unsafe renaming (pragma legacy_alter_table = 1)", IDC_DLG_USE_LEGACY, 5, 80, 180, 16, BS_NOTIFY

	PUSHBUTTON "OK",IDC_DLG_OK,70,110,60,14,WS_TABSTOP
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,135,110,60,14,WS_TABSTOP
END


LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_IMPORT_CSV DIALOGEX 50,50,182,160
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Import data from CSV file"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT           "Table name", IDC_DLG_LABEL, 5, 7, 40, 14, SS_LEFT
    EDITTEXT        IDC_DLG_TABLENAME, 45, 5, 130, 12, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_CHILD

    AUTOCHECKBOX    "Column names in first line", IDC_DLG_ISCOLUMNS, 5, 19, 140, 16, BS_NOTIFY
	LTEXT           "Column delimiter", IDC_DLG_LABEL, 5, 37, 80, 14, SS_LEFT
    COMBOBOX        IDC_DLG_DELIMITER, 60, 36, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
	LTEXT           "Encoding", IDC_DLG_LABEL, 5, 52, 80, 14, SS_LEFT
    COMBOBOX        IDC_DLG_ENCODING, 60, 49, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS
	CONTROL "",     IDC_DLG_PREVIEW, WC_LISTVIEW, LVS_NOSCROLL | WS_TABSTOP | LVS_AUTOARRANGE | LVS_REPORT | LVS_SINGLESEL, 5, 70, 170, 60, WS_EX_STATICEDGE

	PUSHBUTTON "OK",IDC_DLG_OK,50,141,60,14
    PUSHBUTTON "Cancel",IDC_DLG_CANCEL,115,141,60,14
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_EXPORT_SQL DIALOGEX 50,50,174,120
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Export structure and data to SQL file"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	CONTROL "", IDC_DLG_OBJECTLIST, WC_LISTVIEW, WS_VISIBLE | WS_TABSTOP | WS_CHILD | LVS_AUTOARRANGE | LVS_REPORT | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS,5,5, 165, 70, WS_EX_STATICEDGE

	AUTORADIOBUTTON "Structure and data", IDC_DLG_DATADDL, 5, 85, 80, 10, WS_TABSTOP
	AUTORADIOBUTTON "Data", IDC_DLG_DATAONLY, 85, 85, 30, 10, WS_TABSTOP
	AUTORADIOBUTTON "Structure", IDC_DLG_DDLONLY, 125, 85, 50, 10, WS_TABSTOP

    PUSHBUTTON      "OK", IDC_DLG_OK, 65, 102, 50, 14, 0
    PUSHBUTTON      "Cancel", IDC_DLG_CANCEL, 120, 102, 50, 14, 0
END

LANGUAGE 0, SUBLANG_NEUTRAL
IDD_TOOL_EXPORT_CSV DIALOGEX 50,50,174,100
 STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | DS_MODALFRAME
 CAPTION "Export data of table/view to CSV file"
 FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    COMBOBOX        IDC_DLG_TABLENAME, 5, 5, 165, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT
    AUTOCHECKBOX    "Column names in first line", IDC_DLG_ISCOLUMNS, 5, 20, 139, 16, BS_NOTIFY

	LTEXT           "Column delimiter", IDC_DLG_LABEL, 5, 40, 80, 14, SS_LEFT
    COMBOBOX        IDC_DLG_DELIMITER, 65, 38, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS

    LTEXT           "New line type", IDC_DLG_LABEL, 5, 57, 60, 14, SS_LEFT
    COMBOBOX        IDC_DLG_NEWLINE, 65, 55, 50, 100, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD

    PUSHBUTTON      "OK", IDC_DLG_OK, 65, 82, 50, 14, 0
    PUSHBUTTON      "Cancel", IDC_DLG_CANCEL, 120, 82, 50, 14, 0
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_MAIN MENU
BEGIN
    POPUP "Database"
    BEGIN
        MENUITEM "Open", IDM_OPEN
        MENUITEM "Close", IDM_CLOSE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "No recents", 0, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Attach database", IDM_ATTACH, GRAYED
        MENUITEM "Settings", IDM_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Exit", IDM_EXIT
    END

    POPUP "Query"
    BEGIN
        MENUITEM "Save\tCtrl+S", IDM_SAVE
        MENUITEM "Plan\tAlt+Enter", IDM_PLAN, GRAYED
        MENUITEM "Execute\tCtrl+Enter", IDM_EXECUTE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&History\tCtrl+H", IDM_HISTORY
        MENUITEM "&Gists\tCtrl+G", IDM_GISTS

    END

    POPUP "Tools"
    BEGIN
        MENUITEM "Execute SQL file", IDM_IMPORT_SQL, GRAYED
        MENUITEM "Import from CSV file", IDM_IMPORT_CSV, GRAYED
        MENUITEM "Export to SQL file", IDM_EXPORT_SQL, GRAYED
        MENUITEM "Export as CSV file", IDM_EXPORT_CSV, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Integrity check", IDM_CHECK_INTEGRITY, GRAYED
        MENUITEM "Vacuum database", IDM_VACUUM, GRAYED
    END

    POPUP "?"
    BEGIN
        MENUITEM "About", IDM_ABOUT
        MENUITEM "Tips", IDM_TIPS
        MENUITEM "Homepage", IDM_HOMEPAGE
    END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TREE MENU
BEGIN
	POPUP "Tree"
	BEGIN
		MENUITEM "Add", IDM_ADD
		MENUITEM "Refresh", IDM_REFRESH
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TABLE MENU
BEGIN
	POPUP "Table"
	BEGIN
		MENUITEM "Query data", IDM_QUERY_DATA
		MENUITEM "Edit data", IDM_EDIT_DATA
		MENUITEM SEPARATOR
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Delete", IDM_DROP
		MENUITEM SEPARATOR
		MENUITEM "Add column", IDM_ADD_COLUMN
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_COLUMN MENU
BEGIN
	POPUP "Column"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_VIEW MENU
BEGIN
	POPUP "View"
	BEGIN
		MENUITEM "Query data", IDM_QUERY_DATA
		MENUITEM SEPARATOR
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_INDEX MENU
BEGIN
	POPUP "Index"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_TRIGGER MENU
BEGIN
	POPUP "Trigger"
	BEGIN
		MENUITEM "Rename", IDM_RENAME
		MENUITEM "Edit", IDM_EDIT
		MENUITEM "Delete", IDM_DROP
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_EDITOR MENU DISCARDABLE
BEGIN
	POPUP ""
	BEGIN
		MENUITEM "Cut", IDM_EDITOR_CUT
		MENUITEM "Copy", IDM_EDITOR_COPY
		MENUITEM "Paste", IDM_EDITOR_PASTE
		MENUITEM "Delete", IDM_EDITOR_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Execute", IDM_EXECUTE
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_RESULT MENU
BEGIN
	POPUP "Result"
	BEGIN
		MENUITEM "Copy cell to clipboard", IDM_RESULT_COPY_CELL
		MENUITEM "Copy row to clipboard", IDM_RESULT_COPY_ROW
	END
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_MENU_EDIT_DATA MENU
BEGIN
	POPUP "Edit data"
	BEGIN
		MENUITEM "Edit\tEnter", IDM_ROW_EDIT
		MENUITEM "Delete\tDel", IDM_ROW_DELETE
	END
END

IDA_ACCEL ACCELERATORS
BEGIN
	VK_ESCAPE, IDM_EXIT, ALT, VIRTKEY
    "O", IDM_OPEN, CONTROL, VIRTKEY
    "Q", IDM_CLOSE, CONTROL, VIRTKEY
    VK_RETURN, IDM_EXECUTE, CONTROL, VIRTKEY
    VK_RETURN, IDM_PLAN, ALT, VIRTKEY
    "S", IDM_SAVE, CONTROL, VIRTKEY
    "H", IDM_HISTORY, CONTROL, VIRTKEY
    "G", IDM_GISTS, CONTROL, VIRTKEY
    VK_TAB, IDM_NEXTRESULT, VIRTKEY
END

STRINGTABLE
BEGIN
	IDS_CREATE_TABLE  ""
	IDS_CREATE_VIEW "create view myview\nas\nselect * from mytable"
	IDS_CREATE_INDEX "-- create [unique] index [if not exists] [schema.]<index-name>\n-- on <table-name>\n-- (<indexed-column1> [asc|desc], <indexed-column2> ...)\ncreate index idx_mytable on mytable (\n  ""colA"" desc,\n  ""colB"" asc\n)"
	IDS_CREATE_TRIGGER "-- create [TEMP] trigger [if not exists] [schema.]<trigger-name>\n-- {before|after|instead of} {delete|insert|update|update of column1, column2, ...} on <table-name>\n-- when <expression>\n-- begin\n-- <some-statements>;\n-- end.\ncreate trigger trg_mytable_insert\nafter insert on mytable\nwhen id > 10\n\nbegin\n  insert into mytable2\n  select NEW.id, NEW.name;\nend;"
	IDS_ABOUT "Sqlite-gui is a visual tool for SQLite database.\nVisit our homepage to get the source code and latest binaries.\n\nLittle Brother (c) 2020\nlb.im@ya.ru"
	IDS_TIPS "* To create a new database, enter the desired name in the ""Open"" dialog\n\n" \
		"* During a transaction the special indicator is displayed inside the status bar\n\n" \
		"* Do you need a new version of sqlite or a standard extension like json1?\n  Just replace sqlite3.dll! 32-bit version is required.\n\n" \
		"* Use Tab button to toggle to next result\n\n" \
		"* Hold Ctrl when click by a cell in Data Edit dialog to edit the value as a multiline text. Use Ctrl + Enter to add new line.\n\n" \
		"* SQLite supports a limited subset of ALTER. So there is not GUI allows rename/remove/reorder column to an existing table or something like this.\n\n" \
		"Cons\n* BLOB is unsupported\n* Only utf-8 is supported\n* NULL is displayed as an empty string\n* An empty string is set to NULL when data is edit"
END

IDI_LOGO ICON "resources/logo.ico"
IDB_TOOLBAR BITMAP "resources/toolbar.bmp"
